<!-- <div class="container col-md-6 mx-auto mt-5 border"> -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <h3>Login</h3>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" formControlName="reg_email" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" formControlName="reg_password" type="checkbox">Remember me
          </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
<!-- </div> -->